.mainpage__topworks-container-cards-popup {
    width: 232px;
    height: 86px;
    padding: 16px 0px 16px 0px;
    border-radius: 16px;
    border: 1px solid #454545;
    background-color: #222222;
}

