.attach-file, .submit, .submit-button {
    width: 100px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #222222;
    color: #ffffff;
}

.attach-file img {
    width: 25px;
    height: auto; 
    margin: 8px 0px 8px 25px; 
}

.submit img {
    width: 25px; 
    height: auto; 
}

.submit-button img {
    width: 25px;
    height: auto; 
    margin: 6.5px 0px 8px 20px;
}
  
button.submit {
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: #222222;
    background-image: url('../../../../images/Star-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2px;
}

.star-button {
    display: flex;
    width: 130px;
    margin-top: 13px;
}

