.newcard__desc-area{
    width: 916px;
    height: 1827px;
    margin-bottom: 20px;
    margin-top: 60px;
    grid-template-rows: repeat(4, 4fr);
}
.newcard__desc-button{
    width: 316px !important;
    height: 48px;
    border-radius: 50px;
    background-color: #EB572F !important;
    margin-left: 600px;
    place-content: center;
}

.newcard__desc-button p{
    font-family: Roboto;
    font-weight: 900;
    color: #E5E5E5;
    font-size: 20px;
    margin-left: 90px;
}


.newcard__desc-maininfo{
    height: auto;
    width: 916px;
    border-radius: 40px;
    background-color: #292929;
    margin-bottom: 20px;
    display: grid;
    
}

.newcard__desc-images{
    height: auto;
    width: 916px;
    border-radius: 40px;
    background-color: #292929;
    margin-bottom: 20px;
    display: grid;
}

.newcard__desc-privacy{
    height: 307px;
    width: 916px;
    border-radius: 40px;
    background-color: #292929;
    margin-bottom: 20px;
    display: grid;
}

.newcard__desc-licenze{
    height: auto;
    width: 916px;
    border-radius: 40px;
    background-color: #292929;
    margin-bottom: 20px;
    display: grid;
}


.newcard__desc-privacy-check{
    margin-top: 32px;
    margin-left: 32px;
    width: 249px !important;
    height: 54px !important;
    border-radius: 0px !important;
    display: grid;
    grid-template-rows: repeat(2, 2fr);
}

.newcard__desc-privacy-check p{
    margin-top: 0px;
    margin-left: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 14px;
    margin-bottom: 0px !important;
}

.newcard__desc-privacy-checkbox{
    width: 249px;
    height: 24px;
    margin-left: 0px !important;
    margin-top: 16px !important;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
}

.newcard__desk-privacy-checkbox-public{
    width: 122px;
    height: 24px;
    margin-top: 0px !important;
    margin-left: 0px !important;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 12px;

}

.newcard__desk-privacy-checkbox-public p{
    width: 122px;
    height: 24px;
    font-family: Roboto;
    font-weight: 400 !important;
    font-size: 16px;
    margin-top: 7px;
}

.newcard__desk-privacy-checkbox-krug{
    width: 23px;
    height: 23px;
    border: 1px solid #EB572F;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.newcard__desk-privacy-checkbox-krug div{
    width: 20px;
    height: 20px;
    background-color: #EB572F;
    border-radius: 50%;
}

.newcard__desk-privacy-checkbox-private{
    width: 97px;
    height: 24px;
    margin-top: 0px !important;
    margin-left: 0px !important;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 12px;

}

.newcard__desk-privacy-checkbox-private p{
    width: 122px;
    height: 24px;
    font-family: Roboto;
    font-weight: 400 !important;
    font-size: 16px;
    margin-top: 7px;
}

.newcard__desk-privacy-checkbox-krug_2{
    width: 23px;
    height: 23px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.newcard__desk-privacy-checkbox-krug_2 div{
    width: 20px;
    height: 20px;
    background-color: #EB572F;
    border-radius: 50%;
}


.newcard__desk-privacy-desk{
    width: 849px;
    height: 169px;
    margin-top: 20px;
}

.newcard__desk-privacy-desk-inputform{
    width: 849px;
    height: 139px;
    border-radius: 20px;
    background-color: #222222;
    margin-top: 16px;
    border: 1px solid #454545
}

.newcard__desk-privacy-desk-inputform textarea{
    width: 836px;
    height: 128px;
    margin-top: 6px;
    margin-left: 8px;
    background-color: #222222;
    font-size: 16px;
    border-radius: 0px !important;
    color: #d9d9d9;

}

.newcard__desk-privacy-desk-inputform textarea::placeholder{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #6d6d6d;
    position: absolute;
    top: 10px;
    left: 2px;
    text-align: start;
}

.newcard__desc-maininfo-name{
    width: 849px;
    height: 78px;
    margin-top: 32px !important;
    margin-left: 32px;
    display: grid;
    grid-template-rows: repeat(2, 2fr);
}

.newcard__desc-maininfo-name p{
    font-family: Roboto;
    font-weight: 900;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.newcard__desc-maininfo-nameinputform{
    margin-top: 10px;
    width: 849px;
    height: 43px;
    border-radius: 50px;
    background-color: #222222 !important;
    border: 1px solid #454545;
}

.newcard__desc-maininfo-nameinputform input{
    width: 825px;
    height: 32px;
    margin-left: 9px;
    margin-top: 5px;
    background-color: #222222;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #d9d9d9;
    border: none !important;
    outline: none;
}

.newcard__desc-maininfo-nameinputform input::placeholder{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #6d6d6d;
}

.newcard__desc-maininfo-nameinputform input{
    width: 825px;
    height: 32px;
    margin-left: 9px;
    margin-top: 5px;
    background-color: #222222;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #d9d9d9;
    border: none !important;
    outline: none;
}

.newcard__desc-maininfo-nameinputform input::placeholder{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    color: #6d6d6d;
}

.newcard__desc-maininfo-category{
    width: 849px;
    height: 78px;
    margin-top: 20px !important;
    margin-left: 32px;
    display: grid;
    grid-template-rows: repeat(2, 2fr);
}

.newcard__desc-maininfo-tags{
    width: 849px;
    height: 78px;
    margin-top: 20px !important;
    margin-left: 32px;
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    margin-bottom: 32px;
}

.newcard__desc-maininfo-category p{
    font-family: Roboto;
    font-weight: 900;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.newcard__desc-maininfo-tags p{
    font-family: Roboto;
    font-weight: 900;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.newcard__desc-images p{
    font-family: Roboto;
    font-weight: 900;
    font-size: 20px;
    color: #d9d9d9;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 0px;
}

.newcard__desc-images-workcontainer{
    width: 533px;
    height: 171px;
    margin-top: 16px;
    margin-left: 32px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
}

.newcard__desc-images-workcontainer__newphoto{
    height: 171px;
    width: 171px;
    background-color: #292929;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%236D6D6DFF' stroke-width='3' stroke-dasharray='9%2c 16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 20px;
    display: grid;
    place-items: center;
}

.newcard__desc-images-workcontainer__newphoto img{
    width: 24px;
    height: 24px;
}

.newcard__desc-images-workcontainer__slider{
    width: 352px;
    height: 171px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px
}

.newcard__desc-images-workcontainer__slider img{
    width: 171px;
    height: 171px;
    border-radius: 20px;
}

.newcard__desc-images-workcontainer__slider img:nth-child(1){
    border: 1px solid #EB572F;
}

.newcard__desc-licenze-q1{
    width: 553px;
    height: 54px;
    margin-top: 32px;
    margin-left: 32px;
    display: grid;
    margin-bottom: 20px;
}

.newcard__desc-licenze-q2{
    width: 543px;
    height: auto;
    margin-top: 20px;
    margin-left: 32px;
    display: grid;
}

.newcard__desc-licenze-q3{
    width: 443px;
    height: 54px;
    margin-top: 20px;
    margin-left: 32px;
    display: grid;
}

.newcard__desc-licenze-type{
    width: 670px;
    height: 111px;
    margin-top: 20px;
    margin-left: 32px;
    background-color: #222222;
    border-radius: 20px;
    margin-bottom: 32px;
}

.newcard__desc-licenze-q1 p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
}
.newcard__desc-licenze-q2 p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
}

.newcard__desc-licenze-q1-checkbox{
    margin-top: 16px;
    width: 151px;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;

}

.newcard__desc-licenze-q1-checkbox p{
    font-family: Roboto;
    font-weight: 400 !important;
    font-size: 16px !important;
}

.newcard__desc-licenze-q1-checkbox_1{
    width: 57px;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 12px;
    place-items: center;
}

.newcard__desc-licenze-q1-checkbox_0{
    width: 64px;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 12px;
    place-items: center;
}

.newcard__desc-licenze-q2-checkbox{
    width: 543px;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
    margin-top: 16px;
}

.newcard__desc-licenze-q2-checkbox_1{
    width: 57px;
    height: 24px;
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    place-items: center;
}

.newcard__desc-licenze-q2-checkbox_0{
    width: 64px;
    height: 24px;
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    place-items: center;
}

.newcard__desc-licenze-q2-checkbox_2{
    width: 362px;
    height: 24px;
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    place-items: center;
}

.pd{
    height: 32px;
}

.newcard__desc-licenze-q2-checkbox p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    width: 326px;
}

.newcard__desc-licenze-q3 p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    margin: 0px;

}