.mainpage__authors-container {
    margin-top: 32px;
    margin-left: 32px;
    width: 100%;
    max-width: 1856px; /* Установлено максимальная ширина для больших экранов */
    height: 222px;
}

.mainpage__authors-container-topic-name a {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 28px;
    width: 100%;
    max-width: 105px;
    font-weight: bold;
}

.mainpage__authors-author {
    height: 181px;
    margin-top: 24px;
    gap: 20px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.mainpage__authors-author::-webkit-scrollbar {
    display: none;
}

.mainpage__authors-author-container {
    min-width: 130px; /* Минимальная ширина для контейнеров */
    max-width: 15%; /* Максимальная ширина для адаптации */
    height: 178px;
    padding: 0 8px;
    gap: 8px;
}

.mainpage__authors-author-container img {
    width: 100%; 
    height: auto;
    max-width: 114px;
    margin: 0 auto;
}

.mainpage__authors-author-container a {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 28px;
    display: block;
}

.mainpage__authors-author-info {
    width: 100%;
    max-width: 76px;
    height: 56px;
    margin: 0 auto;
}

.mainpage__authors-author-container-count {
    height: 24px;
    width: 100%;
    max-width: 60px;
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mainpage__authors-author-container-count img {
    margin-left: 8px;
    width: 22px;
    height: 18px;
    margin-right: 3px;
}

.mainpage__authors-author-container-count a {
    font-weight: unset;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
}

.small-right-image {
    margin-left: 1700px;
}

.small-right-image, .small-left-image {
    margin-top: -180px;
}

.small-left-gradient, .small-right-gradient {
    background-color: #34343433;
    backdrop-filter: blur(5px);
    height: 190px;
    width: 125px;
    opacity: 0.5;
    z-index: 2;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.small-left-gradient {
    display: none;
}

.small-left-gradient.show {
    display: flex;
}

.small-left-gradient.hide {
    display: none;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 1200px) {
    .mainpage__authors-container {
        margin-left: 16px;
    }

    .small-right-image {
        margin-left: 1500px;
    }

    .small-right-gradient {
        height: 120px;
        width: 100px;
        margin-left: 1600px;
    }
}

@media (max-width: 768px) {
    .mainpage__authors-container {
        margin-left: 10px;
    }

    .small-right-image {
        margin-left: 1000px;
    }

    .small-right-gradient {
        display: none; /* Убираем эти изображения на маленьких экранах */
    }

    .mainpage__authors-container-topic-name a {
        font-size: 20px;
    }

    .mainpage__authors-author-container img {
        max-width: 80px;
    }
}

@media (max-width: 480px) {
    /* Некоторые стили для еще более маленьких экранов */
    .mainpage__authors-author-container a {
        font-size: 16px;
    }

    .mainpage__authors-author-container-count a {
        font-size: 14px;
    }
}