.profile__objects-info-button {
    background-color: #1D1C1C;
    padding: 12px, 24px, 12px, 24px;
    width: 140px;
    height: 38px;
    font-size: 20px;
    color: #E5E5E5;
    border: none;
    cursor: pointer;
}

.profile__objects-info-button.active {
    border-radius: 50px;
    border: 1px solid #FFB831;
    font-weight: bold;
}

.profile__objects-info, .profile__objects-leftinfo, .profile__objects-rightinfo {
    display: flex;
}

.profile__objects-info {
    justify-content: space-between;
    gap: 197px;
}

.profile__objects-rightinfo {
    gap: 10px;
}

.profile__objects-newfile-button {
    background-color: #EB572F;
    padding: 12px, 24px, 12px, 24px;
    width: 160px;
    height: 45px;
    font-size: 20px;
    color: #E5E5E5;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
}

.printers__form {
    width: 270px;
    height: 45px;
}
