.mainpage__newworks-container-topic-name{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    place-content: center;
    width: 131px;
}

.mainpage__newworks-container-topic-name img{
    width: 40px;
    height: 40px;
}

.mainpage__newworks-container-topic-bound{
    margin-top: 3px; 
}


.mainpage__newworks-container-topic-name a{
    margin-top: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    width: 83px;
    font-weight: bold;
}

.mainpage__topworks-container-cards{
    width: 1888px;
    height: 398.38px;
    gap: 28px;
    margin-top: 20px;
    display: flex;
    /*grid-template-columns: repeat(6, 6fr);*/
    overflow-x: auto;
    overflow-y: hidden;
}

.left-gradient-new {
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(255,255,255,0.7));                          
    height: 120px;
    width: 100px;
    opacity: 0.5;
    margin-top: 100px;
    z-index: 2;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right-gradient-new {
    background: linear-gradient(to left, rgba(0,0,0,0.7), rgba(255,255,255,0.7));                          
    height: 120px;
    width: 100px;
    opacity: 0.5;
    margin-top: 100px;
    z-index: 2;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 1755px; 
}

.left-gradient-new {
    display: none;
  }
  
  .left-gradient-new.show {
    display: flex; 
  }
  
  .left-gradient-new.hide {
    display: none;
  }