.rewiew-name {
    display: flex;
    color:#D9D9D9;
}
  
.rewiew-name > * {
    margin-right: 5px; 
}

.rating-stars {
    display: flex;
    align-items: center;
}  

.rating-stars img {
    width: 20px;
    height: 20px;
    margin-right: 3px; 
}

.rating-up img{
    width: 43px;
    height: 40px;
    margin-top: 27px;
}