.profile_card {
    background-color: #292929;
    width: 359px;
    height: 574px;
    border-radius: 50px;
    /*padding: 40px;*/
    margin-top: -175px;
    margin-right: auto;
    margin-left: 140px;
    display: flex;
    justify-content: flex-start;
    z-index: 2;
}