.profile__works-card-info {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.profile__works-card-info-count {
    display: flex; 
    align-items: center;
    margin-top: 20px;
    margin-right: -2px;
}

.profile__works-card-info-count, .profile__works-card-info-saves, .profile__works-card-info-likes, .profile__works-card-info-stars {
    display: flex;
    align-items: center;
}

.profile__works-card-info-saves img{
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.profile__works-card-info-likes img{
    width: 17px;
    height: 15px;
    margin-right: 3px;
}

.profile__works-card-info-stars img {
    width: 22px;
    height: 22px;
    margin-right: 0px;
    margin-top: -2px;
}

.profile__works-card-info p {
    font-size: 12px;
}

.profile__works-card-info-saves{
    margin-right: 8px;
}

.profile__works-card-info-likes {
    margin-right: 4px;
}

.profile__works-card-avatar {
    position: relative; 

}
.profile__works-card-avatar img {
    position: absolute; 
    top: 0; 
    left: 0; 
    border-radius: 100px;
    width: 20px;
    height: 20px;
}

/* Первое изображение */
.profile__works-card-avatar img:first-child {
    z-index: 1; 
}

/* Второе изображение */
.profile__works-card-avatar img:last-child {
    z-index: 2; 
    margin-left: 10px; 
}


/* Если только одно изображение */
.profile__works-card-avatar img:only-child {
    margin-left: 0px; 
}
