.collection {
    width: 1200px;
    height: auto;
    margin-top: -630px; 
    margin-left: 547px; 
    margin-right: 0; 
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}