.mainpage__topworks-container{
    width: 1,856px;
    height: 458.38px;
    gap: 20px;
    margin-left: 32px;
    margin-top: 32px;
    
}

.mainpage__topworks-container-topic{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1510px;
}

.mainpage__topworks-container-topic-name{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    place-content: center;
    width: 179px;
}

.mainpage__topworks-container-topic-name img{
    width: 40px;
    height: 40px;
}

.mainpage__topworks-container-topic-bound{
    margin-top: 3px;
    margin-right: 40px; 
}

.mainpage__topworks-container-topic-bound img{
    margin-right: 5px; 
}


.mainpage__topworks-container-topic-name a{
    margin-top: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    width: 131px;
    font-weight: bold;
}

.mainpage__topworks-container-cards{
    width: 1888px;
    height: 398.38px;
    gap: 28px;
    margin-top: 20px;
    display: flex;
    /*grid-template-columns: repeat(6, 6fr);*/
    overflow-x: auto;
    overflow-y: hidden;
}

.mainpage__topworks-container-cards::-webkit-scrollbar {
    display: none; 
}