.collection__photo-container {
    /*display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    height: 211px;
    width: 264.25px;
    margin-top: 20px;
    gap:10px;
    align-content: stretch*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 211px;
    width: 264.25px;
    margin-top: 20px;
    margin-bottom: 15px;
    grid-auto-flow: column;

}