.product-details {
    padding: 20px;
    width: 85%;
    margin: 20px auto;
    text-align: left;
    color: #ffffff;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }

.product-detail {
    width: 61%;
  }