.remix-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 54%; 
    width: 6%;
    margin-left: 10px;
    margin-right: 2px;
}
  
.remix-image img {
    height: auto;
    width: 100%;
}