.account_settings__account{
    width: 916px;
    height: 969px;
    display: grid;
    grid-template-rows: repeat(4, 4fr);
    grid-gap: 20px;
    margin-top: 32px;
}

.account_settings__account p{
    margin-top: 0px;
    width: 271px;
    height: 33px;
    font-size: 28px;
    font-weight: 900;
    width: 307px;
}

.account_settings__inf{
    width: 916px;
    height: 433px;
    border-radius: 40px;
    background-color: #292929;
    display: grid;
}

.account_settings__tresh{
    width: 916px;
    height: 127px;
    border-radius: 40px;
    background-color: #292929;
}

.account_settings__pswd{
    width: 916px;
    height: 146px;
    border-radius: 40px;
    background-color: #292929;
}

.account_settings__acc{
    width: 916px;
    height: 150px;
    border-radius: 40px;
    background-color: #292929;
}

.account_gender{
    margin-top: 20px;
    width: 239px;
    height: 63px;
    margin-left: 32px;
}

.account_gender p{
    font-size: 20px;
    font-weight: 900;
    margin: 0;
}

.inf_email{
    width: 849px;
    height: 82px;
    margin-top: 32px;
    margin-left: 32px;
    display: grid;
}

.inf_email p{
    font-size: 20px;
    font-weight: 900;
    height: 14px;
    margin: 0px;
}

.inf_email form{
    width: 849px;
    height: 43px;
    border-radius: 50px;
    border: 1px solid #6d6d6d;
    background-color: #222222;
    margin-top: 16px !important;
}

.inf_email input{
    width: 821px;
    height: 23px;
    outline: none;
    background-color: #222222;
    border: none;
    margin-left: 14px;
    margin-top: 10px;
    color: #d9d9d9;
    font-size: 20px;
    font-weight: 400;
}

.inf_region{
    width: 849px;
    height: 82px;
    margin-left: 32px;
}

.inf_region p{
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
    height: 14px;
}

.inf_region form{
    width: 849px;
    height: 43px;
    border-radius: 50px;
    border: 1px solid #6d6d6d;
    background-color: #222222;
    margin-top: 16px;
}

.inf_region input{
    width: 821px;
    height: 23px;
    outline: none;
    background-color: #222222;
    border: none;
    margin-left: 14px;
    margin-top: 10px;
    color: #d9d9d9;
    font-size: 20px;
    font-weight: 400;
}

.inf_dr{
    width: 849px;
    height: 82px;
    margin-left: 32px;
}

.inf_dr p{
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
    height: 14px;
}

.inf_dr form{
    width: 849px;
    height: 43px;
    border-radius: 50px;
    border: 1px solid #6d6d6d;
    background-color: #222222;
    margin-top: 16px;
}

.inf_dr input{
    width: 821px;
    height: 23px;
    outline: none;
    background-color: #222222;
    border: none;
    margin-left: 14px;
    margin-top: 10px;
    color: #d9d9d9;
    font-size: 20px;
    font-weight: 400;
}

.inf_gender{
    width: 239px;
    height: 63px;
    margin-left: 32px;
    display: grid;
}

.inf_gender p{
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
    height: 14px;
}

.inf_gender_menu{
    margin-top: 16px !important;
    width: 239px;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
}

.g_1{
    width: 105px;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 12px;
}
.g_1 p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.tresh{
    width: 249px;
    height: 63px;
    margin-top: 32px;
    margin-left: 32px;
}

.tresh p{
    margin: 0;
    font-size: 20px;
    font-weight: 900;
    height: 23px;
    width: 249px;
}

.tresh_choose{
    width: 151px;
    height: 24px;
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px;
}

.pswd_1{
    height: 431px;
    width: 82px;
    margin-top: 32px;
    margin-left: 32px;
}

.pswd_1 p{
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    height: 23px;
}

.pswd_pswd{
    width: 431px;
    height: 43px;
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 16px;
}

.pswd_pswd form{
    width: 300px;
    height: 43px;
    border: 1px solid #6d6d6d;
    border-radius: 50px;
    background-color: #222222;
}

.pswd_change{
    width: 115px;
    height: 43px;
    border-radius: 50px;
    background-color: #222222;
    display: grid;
    box-sizing: border-box;
}

.pswd_change:hover{
    border: 1px solid#EB572F;
    
}

.pswd_change p{
    margin: 0;
    margin-left: 20px;
    margin-top: 13px;
    font-size: 16px;
    font-weight: 400;
    height: 11px;
    width: 75px;
}

.account_settings__acc p{
    font-size: 20px;
    font-weight: 900;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 0px;
}

.acc_delete{
    width: 166px;
    height: 43px;
    margin-top: 10px;
    margin-left: 32px;
    border-radius: 50px;
    background-color: #222222;
    display: grid;
    box-sizing: border-box;
}

.acc_delete p{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-top: 13px;
    margin-left: 20px;
    
}

.acc_delete:hover{
    border: 1px solid #EB572F;
}


