.product-card {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: #000000;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 20px;
  }
  
  .text {
    flex: 1;
    text-align: center;
  }
  
  .product-details {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 77%;
    margin: 20px auto;
    text-align: left;
    color: #ffffff;
    align-items: flex-start;
  }
  
  .product-detail {
    width: 80%;
  }
  
  .printing-profiles {
    display: flex; /* Располагаем элементы в строку */
    justify-content: space-between; /* Равномерно распределяем пространство между элементами */
    align-items: center; /* Центрируем элементы по вертикали */
  }
  
  .all-printers {
    display: flex; /* Располагаем элементы в строку */
    justify-content: space-between; /* Равномерно распределяем пространство между элементами */
    align-items: center; /* Центрируем элементы по вертикали */
  }

  .div-colored {
    background-color: #333;
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .photo-div {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo-div img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
  
  .text-div {
    flex: 1;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title, .description {
    text-align: left;
  }
  
  .title {
    margin-bottom: 5px;
  }
  
  .description {
    width: 80%;
  }
  
  .description .circle {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    flex: 0 0 calc(16.666% - 10px);
  }
  
  .description .circle:nth-child(3n+1) {
    background-color: #f58457;
    color: #fff;
  }
  
  .description .circle:nth-child(3n+2) {
    background-color: #54a2ef;
    color: #fff;
  }
  
  .description .circle:nth-child(3n+3) {
    background-color: #5cb85c;
    color: #fff;
  }
  
  .description .circle:hover {
    background-color: #ccc;
  }
  