.remixes {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px 20px 20px 0;
    background-color: #222222;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .remix-text {
    flex: 9;
    color: #ccc;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Размещаем элементы по вертикали по центру */
    justify-content: center; /* Размещаем элементы по горизонтали по центру */
  }
  
  .remix-text p {
    margin: 3px 0;
    font-size: 22px;
  }
  
  .remix-image {
    flex: 1; /* Изменено на 1, чтобы занимать 10% ширины */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .remix-image img {
    width: 60%; /* Устанавливаем ширину изображения на 100% */
    max-height: 100%;
    object-fit: contain;
  }
  
  