.newcard__workflow{
    width: 1100px;
    height: 440px;
    margin-top: 60px;
    background-color: #1D1C1C;
    border-radius: 50px;
    place-content: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='50' ry='50' stroke='%23D9D9D9FF' stroke-width='2' stroke-dasharray='52' stroke-dashoffset='52' stroke-linecap='round'/%3e%3c/svg%3e");

}